*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*html {
  font-size: 62.5%;
}*/
body {
  box-sizing: border-box; }

body {
  font-family: "Gotham", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: #fff; }

.navbar {
  background-color: #0e68ee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5.6rem;
  width: 100%; }
  .navbar__heading {
    color: #fff; }
  .navbar__search {
    margin-right: -3rem;
    width: 30%;
    position: relative; }
    .navbar__search input {
      border-radius: 5rem;
      background-color: transparent;
      border: 0.13rem solid #fff;
      width: 80%;
      height: 2rem;
      padding-left: 4rem;
      color: #fff;
      font-size: 1rem; }
      .navbar__search input:focus {
        outline: none;
        color: #fff; }
    .navbar__search .fa--nav {
      width: 2rem;
      height: 2rem;
      background: #fff;
      text-align: center;
      padding: 4px 6px 0px 4px;
      border-radius: 20rem;
      color: #0e68ee;
      position: absolute;
      top: 0;
      left: 0.1rem;
      font-size: 90%; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__content {
    margin-top: 7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #b3b0b0;
    width: 75%;
    height: 3rem;
    border-top: 0.1px solid #b3b0b0; }
  .footer__logo {
    width: 10rem; }
  .footer__copyright {
    font-size: 1.1rem;
    margin-left: 4rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 3) + 2 * 6rem); }

.container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh; }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 50%; }

.search img {
  width: 27rem;
  margin-bottom: 20px; }

.search input {
  width: 110%;
  height: 3.2rem;
  border: 0.1rem solid #0e68ee;
  border-radius: 3rem;
  padding: 0 2rem;
  font-size: 1.3rem;
  color: #0e68ee;
  outline: none; }

.search input:focus {
  outline: none; }

.fa-search {
  position: absolute;
  font-size: 2.5rem;
  color: #0e68ee;
  right: -9px;
  top: 81px; }

.search__text {
  margin-top: 2rem;
  font-size: 1rem;
  color: #b3b0b0; }

.repos {
  width: 65%;
  margin: 5rem auto;
  position: relative; }
  .repos__item {
    font-size: 1rem;
    border-top: 0.1rem solid #b3b0b0;
    margin-bottom: 0.6rem; }
  .repos__img {
    width: 1.5rem;
    float: left;
    padding-top: 1rem; }
  .repos__name {
    padding-top: 0.9rem; }
  .repos__description {
    width: 70%;
    font-size: 0.9rem;
    padding-top: 0.8rem;
    margin-left: 2rem;
    color: #b3b0b0; }
  .repos__ellipse {
    width: 0.9rem;
    float: left;
    position: relative;
    top: 12px; }
  .repos__date {
    padding-top: 0.8rem;
    font-size: 1rem;
    padding-left: 2rem;
    color: #b3b0b0; }
  .repos__tag {
    margin-top: 0.8rem; }
    .repos__tag span {
      margin-right: 0.5rem;
      margin-bottom: 0.3rem;
      font-size: 0.8rem;
      background-color: #b3b0b0;
      font-weight: bold;
      padding: 0.3rem;
      border-radius: 1rem; }
