.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    margin-top: 7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $color-gray;
    width: 75%;
    height: 3rem;
    border-top: 0.1px solid $color-gray;
  }

  &__logo {
    width: 10rem;
  }

  &__copyright {
    font-size: 1.1rem;

    margin-left: 4rem;
  }
}
