.content {
  width: 75%;
  margin: 5rem auto;

  &__user {
    margin-top: -2rem;

    & .userNameRepo {
      display: flex;

      & img {
        width: 1.2rem;
        margin-top: 3px;
      }

      & .repoName {
        margin-left: 5px;
        font-size: 1.2rem;

        & a {
          text-decoration: none;
          font-weight: bold;
          color: #000;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      & .public {
        border-radius: 21px;
        text-align: center;
        padding-top: 2px;
        background-color: #0e68ee;
        font-size: 1rem;
        color: #fff;
        margin-left: 16px;
        margin-top: 4px;
        height: 18px;
        width: 66px;
      }
    }
  }

  &__file {
    border: 1px solid $color-gray;
    margin-top: 50px;
    border-radius: 5px;

    & .userBox {
      display: flex;
      width: 100%;
      align-items: center;
      height: 80px;

      & img {
        width: 100px;
        border-radius: 50%;
        padding: 20px;
        margin-left: 12px;
      }

      & a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #000;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  & .iconName {
    display: flex;
    align-items: center;
    height: 80px;

    & .folder {
      width: 43px;
      height: 50px;
      /* position: absolute; */
      margin-left: 28px;
    }

    & .file {
      width: 27px;
      height: 33px;
      /* position: absolute; */
      margin-left: 34px;
    }

    & .fileName {
      font-size: 1rem;
      font-weight: bold;
      margin-left: 10px;
    }

    & .size {
      font-size: 0.9rem;
      position: absolute;
      right: 190px;
    }
  }
}
