.content {
  width: 65%;
  margin: 5rem auto;
  margin-top: 15rem;

  &__item {
    margin-top: -1px;
    font-size: 1rem;
    border: 0.15rem solid #b3b0b0;
    border-radius: 1px;
    display: flex;
    align-items: center;
    height: 5rem;
    position: relative;
  }
  &__img {
    width: 3rem;
    float: left;
    margin-left: 1rem;

    &--file {
      width: 1.5rem;
      margin-left: 1.5rem;
    }
  }

  &__name {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    position: absolute;
    left: 3.4rem;
  }

  &__size {
    position: absolute;
    right: 1rem;
  }
}
