.repos {
  width: 80%;
  margin: 5rem auto;
  position: relative;

  &__item {
    font-size: 1rem;
    border-top: 0.1rem solid $color-gray;
    margin-bottom: 0.6rem;

    &:hover {
      background-color: rgb(241, 245, 247);
    }
  }
  &__heading {
    display: flex;
  }

  &__img {
    width: 1.5rem;
    float: left;
    padding-top: 1rem;
  }

  &__link {
    text-decoration: none;
    color: #000;
    margin-top: 16px;
    margin-left: 9px;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  &__name {
    padding-top: 0.9rem;
    padding-left: 0.5rem;
  }

  &__description {
    width: 70%;
    font-size: 0.9rem;
    /* padding-top: 0.5rem; */
    margin-left: 2rem;
    color: $color-gray;
  }

  &__ellipse {
    width: 20px;
    height: 20px;
    float: left;
    position: relative;
    top: 10px;
  }

  &__date {
    /* padding-top: 0.8rem; */
    font-size: 1rem;
    padding-left: 2rem;
    color: $color-gray;
    margin-top: 14px;
  }

  &__tag {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    margin-left: 20px;

    .span {
      margin-right: 0.5rem;
      /* margin-bottom: 0.3rem; */
      font-size: 0.8rem;
      background-color: #b3b0b0;
      font-weight: bold;
      padding: 0.3rem;
      border-radius: 1rem;
    }
  }

  &__info {
    display: flex;
    margin-left: 2px;
    /* justify-content: space-between; */
    color: $color-gray;
  }

  &__lang {
    margin-top: 14px;
    margin-left: 6px;
  }

  &__license {
    margin-top: 14px;
    margin-left: 20px;
  }

  &__count {
    font-size: 1.3rem;
    margin-bottom: 7px;
    font-style: italic;
    margin-left: 30px;
  }
}
/* Masquer le message de chargement au départ */
#loading-message {
  display: none;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
}
